<mat-card class="w-100 h-100">
  <mat-card-header>
    <mat-toolbar-row class="d-flex flex-column flex-md-row flex-md-wrap align-items-stretch justify-content-between h-auto w-100">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="type" (selectionChange)="setup()">
          <mat-option value="SUBMITTED_SHIPMENT_REQUESTS">Submitted Shipment Requests</mat-option>
          <mat-option value="UPDATED_SUBMITTED_SHIPMENT_REQUESTS">Updated Submitted Shipment Requests</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-card-header>
  <mat-card-content class="w-100 h-100">
    @if (type === 'SUBMITTED_SHIPMENT_REQUESTS') {
      <otc-grid [colDef]="colDefs" [rowData]="store.submittedShipmentRequests()" [gridOptions]="gridOptions" [loading]="store.loadingSubmittedShipmentRequests()"></otc-grid>
    } @else {
      <otc-grid [colDef]="colDefs" [rowData]="store.updatedSubmittedWaybills()" [gridOptions]="gridOptions" [loading]="store.loadingUpdatedSubmittedWaybills()"></otc-grid>
    }
  </mat-card-content>
</mat-card>
