$otc-primary: #22bcb5;
$otc-accent: #0f4749;
$otc-success: #4f772c;
$otc-danger-light: #bd3229;
$otc-danger: #7a0000;
$otc-warning: #e07600;
$otc-light: #c8c8c9;
$otc-dark: #2c2d28;
$otc-grey: #3a3a3a;
$otc-dark-grey: #424242;
$otc-medium-grey: #969696;
$otc-off-white: #f8f8f4;
