<div class="d-flex flex-column align-items-stretch h-100">
  <div>
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title><b>Summary</b></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="p-1 d-flex flex-column flex-md-row justify-content-evenly">
          @for (summary of summaries; track summary.title) {
            <mat-card class="m-1 p-1">
              <mat-card-header>
                <h6>{{ summary.title }}</h6>
              </mat-card-header>
              <mat-card-content>
                <h1>{{ summary.total }}</h1>
              </mat-card-content>
              <mat-card-footer>
                <div class="d-flex align-items-center">
                  <button mat-icon-button>
                    <mat-icon [ngClass]="summary.status" class="me-1">circle</mat-icon>
                  </button>
                  <h6>{{ summary.footer }}</h6>
                </div>
              </mat-card-footer>
            </mat-card>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="flex-grow-1">
    <otc-grid [loading]="loading" [colDef]="colDefs" [rowData]="rowData"></otc-grid>
  </div>
</div>
