<mat-expansion-panel (expandedChange)="onExpandPanel($event)" [(expanded)]="expandPanel">
  <mat-expansion-panel-header class="bg-primary bg-opacity-10">
    <mat-panel-title class="justify-content-between">
      <span class="px-2">
        <b>{{ sectionLabel.VIN }}</b>
      </span>
      <otc-badge [value]="status()"></otc-badge>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form class="d-flex flex-column align-items-md-baseline pt-3" [formGroup]="form()">
    <div class="shadow w-100 rounded-top px-2 pt-3">
      <h5 class="my-3">
        Vin
        <mat-icon class="warn" aria-hidden="false" [matBadge]="form().controls.vinNumbers.length">reorder</mat-icon>
      </h5>
      <div class="shadow w-100 rounded-top px-2 pt-3 mb-3">
        @for (vin of form().controls.vinNumbers.controls; track vin.controls; let index = $index) {
          <div class="mat-elevation-z2">
            <div [formGroup]="vin" class="d-flex justify-content-between px-2">
              <div class="d-flex flex-column flex-md-row flex-md-wrap w-100">
                <mat-form-field appearance="outline">
                  <mat-label>Vin</mat-label>
                  <input formControlName="vin" matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Position</mat-label>
                  <mat-select formControlName="position">
                    <mat-option value=""></mat-option>
                    <mat-option value="A1">A1</mat-option>
                    <mat-option value="A2">A2</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option value=""></mat-option>
                    <mat-option value="1">A1</mat-option>
                    <mat-option value="2">A2</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Dealer Code</mat-label>
                  <input formControlName="dealerCode" matInput />
                </mat-form-field>
              </div>
              @if (index !== 0 && !this.viewOnly()) {
                <button class="warn" mat-icon-button>
                  <mat-icon>close</mat-icon>
                </button>
              }
            </div>
          </div>
        }
        <div class="d-flex justify-content-center">
          @if (!this.viewOnly()) {
            <button class="primary" matTooltip="Add VINs" mat-icon-button (click)="addVin()">
              <mat-icon>add</mat-icon>
            </button>
          }
        </div>
        <h5 class="my-3">
          Paste VINs
          <mat-icon aria-hidden="false" class="primary">info</mat-icon>
        </h5>
        <mat-form-field appearance="outline">
          <mat-label>Paste VINs</mat-label>
          <textarea formControlName="multipleVINS" matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-expansion-panel>
